asciinema/
transmission/
tidal-hifi/
Signal/
dconf/
Code - OSS/
Docker Desktop/
chromium/
czkawka/
darktable/
gh/
helix/

obs-studio/
zoom.conf
xfce4/
vlc/
systemd/
janbar/
htop/
flameshot/
Yubico/
Thunar/
Rapid Photo Downloader/
QtProject.conf
